# Copyright (c) Arduino s.r.l. and/or its affiliated companies
# SPDX-License-Identifier: Apache-2.0

telnet_port disabled
init
reset init
halt
adapter speed 10000
#flash write_image erase ${filename1} ${offset} bin
if {[catch {flash verify_image ${filename0}}] != 0} {
	flash write_image erase ${filename0}
}
if {[catch {flash verify_image ${filename1} ${offset} bin}] != 0} {
	flash write_image erase ${filename1} ${offset} bin
}
reset run
shutdown
