&zephyr_udc0 {
    board_cdc_acm_uart: board_cdc_acm_uart {
        compatible = "zephyr,cdc-acm-uart";
        status = "okay";
    };
};

&usart1 {
    status = "okay";
    pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
    pinctrl-names = "default";
    current-speed = <115200>;
};

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
    status = "okay";
    pinctrl-0 = <&i2c2_scl_pf1 &i2c2_sda_pf0>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c3 {
    status = "okay";
    pinctrl-0 = <&i2c3_scl_pa8 &i2c3_sda_pc9>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>;
};

&spi4 {
	status = "okay";
	pinctrl-0 = <&spi4_nss_pe11 &spi4_sck_pe12 &spi4_miso_pe13 &spi4_mosi_pe14>;
	pinctrl-names = "default";
};

&spi5 {
    status = "okay";
    pinctrl-0 = <&spi5_nss_pf6 &spi5_sck_pf7 &spi5_miso_pf8 &spi5_mosi_pf11>;
    pinctrl-names = "default";
};

/*
&i2s3 {
    status = "okay";
    clocks = <&rcc 0xe8 0x8000>,
             <&rcc 0x9 0x1cc0050>;
    dma-names = "tx", "rx";
    interrupts = <0x33 0x0>;

    pinctrl-0 = <&i2s3_pins>;

    pinctrl-names = "default";

    i2s3_pins: i2s3-pins {
        pinmux = <0x07>,  // Replace with the actual pinmux number for PA15 at some point (I2S3_WS)
                 <0x08>,  // Replace with the actual pinmux number for PB2 at some point(I2S3_SD0)
                 <0x09>,  // Replace with the actual pinmux number for PC10 at some point(I2S3_CK)
                 <0x0A>;  // Replace with the actual pinmux number for PC11 at some point(I2S3_SD1)
    };
};
*/

&timers1 {
    status = "okay";
    st,prescaler = <0>;

    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch3_pj9 &tim1_ch1_pk1>;
        pinctrl-names = "default";
    };
};

&timers3 {
    status = "okay";
    st,prescaler = <100>;

    pwm3: pwm {
        status = "okay";
        pinctrl-0 = <&tim3_ch1_pc6 &tim3_ch2_pc7>;
        pinctrl-names = "default";
    };
};

&timers8 {
    status = "okay";
    st,prescaler = <100>;

    pwm8: pwm {
        status = "okay";
        pinctrl-0 = <&tim8_ch3n_ph15 &tim8_ch2_pj10 &tim8_ch2n_pj7>;
        pinctrl-names = "default";
    };
};

&timers12 {
    status = "okay";
    st,prescaler = <100>;

    pwm12: pwm {
        status = "okay";
        pinctrl-0 = <&tim12_ch1_ph6>;
        pinctrl-names = "default";
    };
};

&adc1 {
    pinctrl-0 = <&adc1_inp4_pc4 &adc1_inp5_pb1 &adc1_inp12_pc2 &adc1_inp13_pc3>;
    pinctrl-names = "default";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <4>;
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;

    channel@4 {
        reg = <4>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
        zephyr,resolution = <16>;
    };

    channel@12 {
        reg = <12>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
        zephyr,resolution = <16>;
    };
};

&adc3 {
    pinctrl-0 = <&adc3_inp0_pc2_c &adc3_inp1_pc3_c>;
    pinctrl-names = "default";
    st,adc-clock-source = "SYNC";
    st,adc-prescaler = <4>;
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
        zephyr,resolution = <16>;
    };
    channel@1 {
        reg = <1>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
        zephyr,resolution = <16>;
    };
};

/ {
    chosen {
        zephyr,console = &board_cdc_acm_uart;
        /*zephyr,console = &usart1;*/
        zephyr,shell-uart = &usart1;
        /*zephyr,cdc-acm-uart0 = &usart1;*/
    };

    
    gpioz: gpio@deadbeef {
        compatible = "vnd,gpio";
        gpio-controller;
        reg = <0xdeadbeef 0x1000>;
        #gpio-cells = <0x2>;
        status = "okay";
    };
};

/ {
    soc {
        flash-controller@52002000 {
            flash0: flash@8000000 {
                /delete-node/ partitions;
                compatible = "st,stm32-nv-flash", "soc-nv-flash";
                write-block-size = <32>;
                erase-block-size = <DT_SIZE_K(128)>;
                /* maximum erase time for a 128K sector */
                max-erase-time = <4000>;

                reg = <0x08000000 DT_SIZE_K(1024)>;
                status = "okay";

                partitions {
                    compatible = "fixed-partitions";
                    #address-cells = <1>;
                    #size-cells = <1>;

                    boot_partition: partition@0 {
                            label = "mcuboot";
                            reg = <0x00000000 0x00040000>;
                            read-only;
                    };

                    slot0_partition: partition@40000 {
                            label = "image-0";
                            reg = <0x00040000 0x000A0000>;
                    };

                    user_sketch: partition@e0000 {
                        reg = <0x0E0000 0x20000>;
                    };
                };
            };
        };

        ram@20000000 {
            reg = <0x20000000 0x20000>;  /* SRAM1, 128KB */
            compatible = "st,stm32h747-sram";
            status = "okay";
        };
    };


    zephyr,user {
        digital-pin-gpios = <&gpiog 12 0>,   /* D0 PG_12 */
                            <&gpioa 9 0>,    /* D1 PA_9 */
                            <&gpioa 10 0>,   /* D2 PA_10 */
                            <&gpiog 1 0>,    /* D3 PG_1 */
                            <&gpioe 3 0>,    /* Red LED PE_3 */
                            <&gpioc 13 0>,   /* Green LED PC_13 */
                            <&gpiof 4 0>;    /* Blue LED PF_4 */

        adc-pin-gpios = <&gpioc 4 0>,  /* A0 PC_4 */
                        <&gpiof 13 0>, /* A1 PF_13 */
                        <&gpiof 3 0>;  /* A2 PF_3 */

        pwm-pin-gpios = <&gpioa 8 0>,
                        <&gpioc 6 0>,
                        <&gpioc 7 0>,
                        <&gpioh 15 0>,
                        <&gpioj 7 0>,
                        <&gpioj 10 0>,
                        <&gpioh 6 0>;

        serials = <&board_cdc_acm_uart>, <&usart1>;
        cdc-acm = <&board_cdc_acm_uart>;

        i2cs = <&i2c1>, <&i2c2>, <&i2c3>;
        spis = <&spi4>;

        io-channels = <&adc1 0>,
                      <&adc3 0>,
                      <&adc1 6>;

        builtin-led-gpios = <&gpioc 13 0>, /* Green LED PC_13 */  /* LED_BUILTIN macro is defined as first builtin-led-gpios */
                            <&gpioe 3 0>,  /* Red LED PE_3 */
                            <&gpioc 13 0>, /* Green LED PC_13 */ 
                            <&gpiof 4 0>;  /* Blue LED PF_4 */                 

        pwms =  <&pwm1 3 PWM_HZ(12000000) PWM_POLARITY_NORMAL>,
                <&pwm3 3 PWM_HZ(12000000) PWM_POLARITY_NORMAL>,
                <&pwm8 3 PWM_HZ(12000000) PWM_POLARITY_NORMAL>;
    };
};

/* Include common flash filesystem configuration */
qspi_flash: &n25q128a1 {};
#include "../common/arduino_flash_fs.dtsi"