name: Package, test and upload core

on:
  - push
  - pull_request

jobs:
  inspect-logs:
    name: Analyze logs
    runs-on: ubuntu-latest
    steps:
      # Collect and summarize logs
      - run: |
          mkdir -p reports

          echo ${{ github.event.pull_request.number }} > pr_number
          echo "CI_RESULT=PASSED" > $GITHUB_OUTPUT
          echo "summary text" > reports/summary
          echo "full log" > reports/full_log
          if [ "${{ github.event_name }}" != "pull_request" ]; then
            cat reports/summary >> $GITHUB_STEP_SUMMARY
          fi
          cat reports/full_log >> $GITHUB_STEP_SUMMARY

      - name: Archive comment information
        uses: actions/upload-artifact@v4
        with:
          name: summary
          path: reports/

      - name: Clean up intermediate artifacts
        uses: geekyeggo/delete-artifact@v5.1.0
        with:
          name: |
            build-report-*
            test-report-*
          failOnError: false

  verify-core:
    runs-on: ubuntu-latest
    needs:
      - inspect-logs
    if: ${{ !cancelled() }}
    steps:
      - name: CI run result
        run: |
          exit ${{ ((needs.inspect-logs.outputs.CI_RESULT == 'PASSED') && !contains(needs.*.result, 'failure')) && '0' || '1' }}
